<h1>Courses</h1>
@if (courses().length > 0) {
    <select
        [ngModel]="filter()"
        (ngModelChange)="onFilterChange($event)"
        name="filter"
    >
        <option value="">All</option>
        <option value="BEGINNER">Beginner</option>
        <option value="INTERMEDIATE">Intermediate</option>
        <option value="ADVANCED">Advanced</option>
    </select>

    <ul>
        @for (course of filteredCourses(); track course.id) {
            <li (click)="onCourseClick(course)" style="cursor: pointer">
                {{ course.title }}
            </li>
        }
    </ul>

    @if (courseContent()) {
        @switch (courseContent()?.status) {
            @case ('LOADING') {
                <div>
                    ...loading content
                </div>
            }
            @case ('LOADED') {
                <div>
                    {{ courseContent()?.content }}
                </div>
            }
            @case ('ERROR') {
                <div>
                    Unable to load course content
                </div>
            }
            @default {
            }
        }
    }
} @else {
    <div>
        ...loading
    </div>
}
