<h1>Courses</h1>
@if (courses().length > 0) {
    <select
        [ngModel]="filter()"
        (ngModelChange)="filter.set($event)"
        name="filter"
    >
        <option value="">All</option>
        <option value="BEGINNER">Beginner</option>
        <option value="INTERMEDIATE">Intermediate</option>
        <option value="ADVANCED">Advanced</option>
    </select>

    <ul>
        @for (course of filteredCourses(); track course.id; let isEven = $even) {
            <li [style]="isEven ? 'color: red' : ''">
                {{ course.title }}
            </li>
            @switch (course.category) {
                @case ('BEGINNER') {
                    <small>Beginner</small>
                }
                @case ('INTERMEDIATE') {
                    <small>Intermediate</small>
                }
                @case ('ADVANCED') {
                    <small>Advanced</small>
                }
            }
        }
    </ul>
} @else {
    <div>
        ...loading
    </div>
}
